<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/basic/Example_11.js"></script>

    <title>Basic filter</title>
</head>
<body>
    <p>Paragraph 0</p>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
    <p>Paragraph 3</p>
    <p>Paragraph 4</p>
    <p>Paragraph 5</p>
    <p>Paragraph 6</p>
    <p>Paragraph 7</p>
    <p>Paragraph 8</p>

    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>

    <table class="table1">
        <p>Lang table</p>
        <tr>
            <th>Num</th>
            <th>Language</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Python</td>
        </tr>
        <tr>
            <td>3</td>
            <td>C</td>
        </tr>
        <tr>
            <td>4</td>
            <td>C++</td>
        </tr>
    </table>
</body>
</html>